* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header,
h1 {
  font-size: 3rem;
}

h1,
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: red;
  font-family: cursive, Impact, "Arial Narrow Bold", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  width: 60%;
  border-radius: 7px;
}
form input {
  /* border-radius: 25px 0 0 25px; */
  margin-bottom: 0.8px;
  text-align: center;
}
form button {
  color: #ff0000;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff0000;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 60%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  margin-bottom: 0;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  /*  */
  border-radius: 25px;
}
.filter-todo {
  padding: 1rem;
  /*  */
  border-radius: 9px;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff0000;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Styles for deadline container */
div.container {
  background-color: rgb(255, 111, 71);
  width: 80%;
  margin: auto;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  text-align: center;
  grid-template-areas:
    "head head"
    "time date";
  border-radius: 20px;
  color: black;
}
#deadline {
  grid-area: head;
}
#time {
  grid-area: time;
}
#date {
  grid-area: date;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff0000;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */

footer {
  color: black;
  font-weight: bolder;
  text-align: center;
  height: 3rem;
  padding: 3rem;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  h1 {
    font-size: 4rem;
    background-image: linear-gradient(32deg, #ffd95b 0%, #f88a6b 100%);
  }
  ul.todo-list {
    width: 95%;
  }
  form {
    /* display: flex;
      flex-direction: column; */
    align-items: stretch;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  form input,
  form button {
    width: 100%;
    margin: 0.5px auto;
  }
  input.todo-input {
    border-radius: 30px 30px 0 0;
    text-align: center;
  }
  button.todo-button {
    border-radius: 0 0 30px 30px;
    /* margin: 1px; */
    background-color: rgba(0, 0, 0, 0.05);
  }
  div.select {
    min-width: fit-content;
    margin: 10px auto;
    border-radius: 30px;
  }
  .container {
    width: 100%;
  }
}
